<div class="row text-center" >
    <h1 class="text-info">You have reaced the end of Internet</h1>
    <a class="btn btn-outline-dark" asp-controller="Movies" asp-action="Index">Get Back</a>
    <img class=".img-fluid. max-width: 100%; " src="https://img.freepik.com/free-vector/404-error-with-character-error-design-template-website_114341-24.jpg?size=626&amp;ext=jpg">
   
</div>
